<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departure Airport: </div>
  <div><%= flight.airport %></div>
  <div>Departure Date: </div>
  <div><%= flight.departureDate %></div>
</section>
<br><br><h2>Destinations</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Destination Airport:</label>
  <select name="destination" id="destination">
    <% destinationAirports.forEach(function(destinationAirport) { %>
      <option value="<%= destinationAirport %>"><%= destinationAirport %></option>
    <% }); %>
  </select>
  <br>
  <input type="datetime-local" name="arrivalDate">
  <br>
  <input type="submit" value="Add Destination">
</form>
<% if (flight.destinations) { %>
  <table>
    <thead>
      <tr>
        <!-- <th>Created At</th> -->
        <th>Destination Airport</th>
        <th>Arrival Date</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(d) { %>
        <tr>
          <td><%= d.destinationAirport %></td>
          <td><%= d.arrivalDate %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Destinations Added Yet</h5>
<% } %>

<%- include('../partials/footer') %>
